body
{
font-family:sans-serif;
line-height: 1.5em;
font-family: 'Oswald', sans-serif;
font-weight: lighter;
overflow-x: hidden;
width:100%;
}
.icon-bar {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition:0.5s;
}

.change #one{

    transform: rotate(-45deg) translate(-5px, 5px) ;

}

.change #two {opacity: 0;}

.change #three{

    transform: rotate(45deg) translate(-6px, -6px) ;
}



#content
{

margin:auto;
}

h6
{
	font-size:16px;
}


h3
{
	font-size:24px;
}

h2
{
	
}



.gallery1
{
	margin-bottom:93px;
}


#first
{
line-height: 10px;
}

#second
{
line-height: 10px;

}

#third
{
	line-height: 10px;

}



#fourth
{
	line-height: 10px;

}


#top
{
	height: 297px;
    width: 2000px
}

.navbar1
{
	background-color:white;
	
}


.navbar1 .navbar-toggle
{
	margin-right:20px;

}



.navbar2
{
	background:#121b65;


}



.navbar2 .navbar-nav li a
{
	color:#ffffff;
	font-weight: Bold;
	font-size: 24px;
	font-family: 'Squada One', cursive;
}

.navbar2 .nav .navbar-nav
{

	overflow:hidden;
    height:75px;
     
}

.navbar2 .navbar-nav li a
{
height:75px;
padding-top:30px;
}

.navbar2 .navbar-nav li a:hover
{
background-color: #ff7418;
}

 
.navbar2 .navbar-nav li :focus
{
background-color: #ff7418;
}


.active
{
	 background-color: #ff7418;
}




.navbar2 .container .icon-bar
{
	color:white;
	background-color: white;
}

.navbar2 .navbar-toggle
{
	border: 2px solid white;
	margin-bottom: 20px;
}

#news .container-fluid
{

	border-top: 5px solid #ff7418;
	background-color: #010656;
	height:180px;
}

#btn
{
		background-color:orange;
		color:#ffffff;
}


#gallery
{
	
	border-top:1px solid red;
	margin:auto;
	
}

.news-heading 
{
	color: white;
    line-height: 41px;
	padding-top:50px;
	font-size:60px;
	font-family: 'Squada One', cursive;
}

#latestnews .container
{

	border:2px solid blue;
	margin:auto;
}


.heading
{
	color: #060e57;
    line-height: 32px;
	margin-top:32px;
	font-size:28px;
	font-weight:Bold;
	border-bottom: 5px solid orange;
	width:140px;
	font-family: 'Squada One', cursive;
	;	
}



.form-inline
{
  
	float:right;
	border:2px solid red;
}


.form-inline label
{
width:127px;
}

.form-control
{
	height:45px;

}

.form-inline .btn
{
	
	height:45px;
	margin-left:15px;
}

.form-inline #btn
{
	height:45px;
   	margin-right:-12px;

}

.form-inline .form-group h3
{
	width:127px;
	height:16px;
	display:inline;
	margin:auto;
	font-size:21px;
}


.img-responsive
{
	width:378px;
	height:222px;
	margin-top:25px;
}

.caption
{
	margin:auto;
}

.fa {
  padding:10px;
  width: 35px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  overflow:hidden;
}

.fa:hover {
    opacity: 0.7;
	text-decoration:none;
}

.fa-facebook {
  background: #ee7306;
  color: #121b65;
  margin:14px;
}

.fa-twitter {
  background: #ee7306;
  color: #121b65;
    margin:14px
}

.fa-google {
  background: #ee7306;
  color: #121b65;
    margin:14px
}

.fa-linkedin {
  background: #ee7306;
  color: #121b65;
    margin:14px
}

.fa-youtube {
  background: #ee7306;
  color: #121b65;
    margin:14px
}

.fa-instagram {
  background: #ee7306;
  color: #121b65;
    margin:14px

}

.fa a
{
	text-decoration:none;
	padding-bottom:10px;
	padding-right:10px;
}

.social
{
	margin-top:79px;
	
}


.social .container-fluid
{
height:95px;
background-color:#060e59;
}

.social .container-fluid .social-list li
{
list-style:none;
display:inline;
}

.social .container-fluid a
{
	margin-top:30px;
}

footer 
{
	background-color:#1c1947;
	height:53px;
    margin-top:-10px;
}



footer .footer-menu li
{

font-size:14px;
line-height:14px;
margin:34px;
list-style:none;
display:inline;
}

footer .footer-menu
{
	margin-top:10px;
}


footer .footer-menu li a
{
text-decoration: none;
color:white;
}

footer .container
{
background-color:#1c1947;
}



@media only screen and (max-width:1200px)

{
	

}


@media only screen and (max-width:992px) 
{


}


@media only screen (max-width:768px) 
{



}


@media only screen and (max-width:480px)
{


.main
{
	width:300px;
	margin:auto;
}

.row-centered
{
	width:100%;
}

.heading
{
	margin:auto;
}

.form-inline
{
	width:100%;
	margin-left:20px;
}

.navbar2 .navbar-nav
{
	margin:20px;
	height:800px;
}

.btn
{

	margin-top:20px;

}



.navbar2 .navbar-nav li
{
	height:50px;
	margin-top:50px;
}



.social-list
{
margin-left:-40px;
}


.social .social-list
{
	margin-top:30px;
}

.social-list li a
{
	display:inline;
}


#btn
{
width:50px;
margin-left:80px;
}

.btn
{
width:200px;
margin:auto;
}


footer
{

height:250px;	
padding-right:30px;
}

footer .footer-menu a
{
	display:block;
	
}

footer .footer-menu li
{
	display:inline;
}


}





@media only screen and (max-width:320px)
{


.main
{
	margin:auto;
	width:200px;
}

.btn
{
width:100px;
margin:auto;
}

#btn
{
width:50px;
margin-left:40px;
}

.navbar2 .navbar-nav
{
	margin:20px;
	height:800px;
}

.navbar2 .navbar-nav li
{
	height:50px;
	margin-top:50px;
}


.social .social-list
{
	margin-top:30px;
}

.social-list li a
{
	display:inline;

}

footer
{

height:250px;	
padding-right:30px;
}


footer .footer-menu a
{
	display:block;
	
}


footer .footer-menu li
{
	display:inline;
}

}

