body
{
font-family:sans-serif;
line-height: 1.5em;
font-family: 'Oswald', sans-serif;
font-weight: lighter;
overflow-x: hidden;
width:100%;
}


h6
{
	font-size:16px;
}


h3
{
	font-size:24px;
}

h2
{
	
}


.gallery1
{
	margin-bottom:93px;
}


#first
{
line-height: 10px;
}

#second
{
line-height: 10px;

}

#third
{
	line-height: 10px;

}



#fourth
{
	line-height: 10px;

}


#top
{
	height: 297px;
    width: 2000px
}

.navbar1
{
	background-color:white;
	border:trasparent;
	overflow:hidden;
}


.navbar2
{
	background:#121b65;
	padding-top:15px;
    margin-bottom:-20px;	
}


.navbar2 .nav .navbar-nav
{
	border-bottom: 5px solid #ff7418;
	
}


.navbar2 .navbar-nav li a
{
	color:#ffffff;
	font-weight: Bold;
	font-size: 24px;
	font-family: 'Squada One', cursive;
}

.navbar2 .navbar-nav
{
	margin-top: -32px;
	overflow:hidden;
width:auto;

}

.navbar2 .navbar-nav li
{
	margin-top:2px;
	padding-top:15px;
	height:75px;
}

.navbar2 .navbar-nav li:hover
{
	margin-bottom:-20px;
	 background-color: #ff7418;
}

.navbar2 .navbar-nav .active 
{
	 background-color: #ff7418;
	 height:75px;

}

.navbar2 .navbar-nav li a:hover 
{
	  background-color: #ff7418;
	  height:75px;

}


.navbar2 .navbar-nav li :visited
{
	  background-color: #ff7418;
height:100px;
margin:10px;

}


.navbar2 .navbar-nav li a:active
{
	  background-color: #ff7418;
height:75px;

}


  .navbar2 .navbar-nav a:hover {

    color: #fff;
    background-color: #ff7418;
	
}




.navbar .nav > li:hover> a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    
    color: #fff;
    background-color: background-color: #ff7418;
   
}


.nav-pills > li > a:hover, .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
   background-color: #ff7418;
    color: #fff;
}


.navbar2 .container .icon-bar
{
	color:white;
	background-color: white;
}

.navbar2 .navbar-toggle
{
	border: 2px solid white;
	margin-bottom: 20px;
}

#news .container-fluid
{

	border-top: 5px solid #ff7418;
	background-color: #010656;
	height:180px;
}

#btn
{
		background-color:orange;
		color:#ffffff;
}


#gallery
{
	width:1200px;
	height:1201px;
	border-top:1px solid red;
	margin:auto;
	
}

.news-heading 
{
	color: white;
    line-height: 41px;
	padding-top:50px;
	font-size:60px;
	font-family: 'Squada One', cursive;
}

.latestnews .container
{
	width:1200px;
	height:1200px;
	margin:auto;
}


.heading
{
	color: #060e57;
    line-height: 32px;
	margin-top:32px;
	font-size:28px;
	font-weight:Bold;
	border-bottom: 5px solid orange;
	width:140px;
	font-family: 'Squada One', cursive;
	;	
}



.form-inline
{
	float:right;
}

.form-control
{
	height:45px;

}

.form-inline .btn
{
	height:45px;

	margin-left:20px;
}

.form-inline #btn
{
	height:45px;
    width:81px;
	margin-left:20px;
}

.btn-defualt
{
	width:140px;
	height:45px;
}


.form-inline .form-group h3
{
	width:127px;
	height:16px;
	display:inline;
	margin:auto;
	font-size:21px;
}


.img-responsive
{
	width:378px;
	height:222px;
	margin-top:25px;
}

.caption
{
	margin:auto;
}

.fa {
  padding:10px;
  width: 35px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  overflow:hidden;
}

.fa:hover {
    opacity: 0.7;
	text-decoration:none;
}

.fa-facebook {
  background: #ee7306;
  color: #121b65;
  margin:14px;
}

.fa-twitter {
  background: #ee7306;
  color: #121b65;
    margin:14px
}

.fa-google {
  background: #ee7306;
  color: #121b65;
    margin:14px
}

.fa-linkedin {
  background: #ee7306;
  color: #121b65;
    margin:14px
}

.fa-youtube {
  background: #ee7306;
  color: #121b65;
    margin:14px
}

.fa-instagram {
  background: #ee7306;
  color: #121b65;
    margin:14px

}

.fa a
{
	text-decoration:none;
	padding-bottom:10px;
	padding-right:10px;
}

.social
{
	margin-top:79px;
	
}


.social .container-fluid
{
height:95px;
background-color:#060e59;
}

.social .container-fluid .social-list li
{
list-style:none;
display:inline;
}

.social .container-fluid a
{
	margin-top:30px;
}

footer 
{
	background-color:#1c1947;
	height:53px;
    margin-top:-10px;
}



footer .footer-menu li
{

font-size:14px;
line-height:14px;
margin:34px;
list-style:none;
display:inline;
}

footer .footer-menu
{
	margin-top:10px;
}


footer .footer-menu li a
{
text-decoration: none;
color:white;
}

footer .container
{
background-color:#1c1947;
}



.gallery
{
	width: 1200px;
    margin: auto;
}



@media only screen and (max-width:1200px)

{
	

}


@media only screen and (max-width:992px) 
{


}




@media only screen and (max-width:768px) 
{
footer .footer-menu a
{
	display:block;
	
}

footer
{

height:250px;	
padding-right:30px;
}


}






@media only screen and (max-width:480px)
{
.navbar2 .navbar-nav
{
	margin:20px;
	height:800px;
}


.form-control
{
	margin-right:50px;
    width:90%;
    margin-bottom:20px;
}

.btn
{
width:90%
}

#form
{
	margin:auto;
}


.navbar2 .navbar-nav li
{
	height:50px;
	margin-top:50px;
}



#latestnews .container
{
	margin-right:80px;
		width:100%;
	float:center-right;
}


#btn
{
float:right;
margin-right: 80px;
margin-top: 20px;
}


#latestnews 
{
	margin:90px;
}



.form-group label
{
	margin-left:40px;
}

.heading
{
	margin:auto;
}


.social-list
{
margin-left:-40px;
}


.social .social-list
{
	margin-top:30px;
}

.social-list li a
{
	display:inline;

}

footer
{

height:250px;	
padding-right:30px;
}

footer .footer-menu a
{
	display:block;
	
}




footer .footer-menu li
{
	display:inline;
}
}





@media only screen and (max-width:320px)
{

.navbar2 .navbar-nav
{
	margin:20px;
	height:800px;
}


#form
{
	width:80%;
}



.navbar2 .navbar-nav li
{
	height:50px;
	margin-top:50px;
}

#latestnews 
{
	margin:50px;
}



.form-control
{
margin-left:20px;
}

.social .social-list
{
	margin-top:30px;
}

.social-list li a
{
	display:inline;

}

footer
{

height:250px;	
padding-right:30px;
}

footer .footer-menu a
{
	display:block;
	
}


footer .footer-menu li
{
	display:inline;
}

}
















































